h1 {
    color: hotpink;
    border-bottom: 10px dotted purple;
}
h3 {
    font-style: italic;
}
ul {
    /*list-style-type: circle;*/
    border: 5px solid purple;
    background-color: #eeeeee;
    padding: 20px 10px;
}
ul span {
    color: green;
}
ul a {
    color: blue;
}
ul a:hover {
    color: green;
}
h2 {
    color: gray;
    border: 2px solid grey;

}
.url:any-link {
    color: chartreuse;
}
