h1 {
    color: red;
}
p, li {
    color: green;
}
ul {
    list-style-type: upper-roman ;
}
.special {
    color: orange;
    font-weight: 700;
}
h1 + p {
    background-color: bisque;
}
p span {
    color: red;
}
.box {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color:indigo;
    transform: rotate(0.8turn);
}
/*body {
    background-color: aqua;
}
@media (min-width: 400px) {
    body {
        background-color: antiquewhite;
    }
}*/
